@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Anton');
html, body {
  margin: 0;
  padding: 0;
  
  height: 100%;
  width: 100%;
  background-color: #181818;
  
  overflow: auto;
  position: relative;
}
img{
max-height: 20rem;
  width: 100%;
}
ul {
  padding-left:0;
}
.slider-header h2{
  font-size: 1.5rem;
  line-height: 1rem;
  color: white;
  font-family: 'Anton', sans-serif;
  text-transform: capitalize;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.data-container{
  padding: .75rem;
}
.image-placeholder .image-box{
  max-height: 20rem;
}
.image-discription{
  font-size: 1rem;
line-height: 1.2rem;
color: white;
height: 19rem;
overflow: auto;
text-transform: lowercase;
font-family: 'Cabin', sans-serif;
min-height: 5rem;
-webkit-transition: left 1s ease;
  transition: left 1s ease;
  -moz-transition: left 1s ease;
}
.navigation-bar {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.navigation-bar ul{
display: flex;
list-style-type: none;
flex-direction: row;
height: 2.5rem;
background-color: #212121;
justify-content: flex-end;
align-items: center;
margin: 0;
box-shadow: 1px 2px 3px #202020;
}
.navigation-bar ul li {
  flex: 1;
  color: white;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.navigation-bar > ul > li > i{
  font-size: 2rem;
  color: white ;
}
.navigation-bar .like-tog{
  color: white;
}
.navigation-bar .like-btn{
  color: #28b463 !important;;
}
.navigation-bar .dislike-btn{
  color:#e74c3c !important;
}
@media only screen and ( min-width:768px){
.slider-container{
  background-color: #202020;
}  
.image-placeholder{
  display: grid;
  grid-template-areas: 1fr 2fr 1fr;
  justify-content: center;
  grid-gap: 1rem;
  grid-template-areas: 'image-placeholder0 image-box image-placeholder1';
}
.overlay-image-holder{
 opacity: .4;
}
.image-placeholder0{
  grid-area: image-placeholder0;
  display: block;
  z-index: 1;
  -webkit-box-shadow: -10px 0px 4px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 0px 4px rgba(0,0,0,0.75);
box-shadow: -10px 0px 4px rgba(0,0,0,0.75);
}
.image-box{
  grid-area: image-box;
  display: block;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.image-placeholder1{
  grid-area: image-placeholder1;
  display: block;
  z-index: 1;
  -webkit-box-shadow: 10px 0px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 0px 4px rgba(0,0,0,0.75);
box-shadow: 10px 0px 4px rgba(0,0,0,0.75);
}
.image-discription{
height: 5rem;
}
.navigation-bar {
  position: relative;
}
.navigation-bar ul{
  width: 40%;
margin-left: 60%;
background-color: #202020;
border-radius: 3px;
}
}
@media only screen and (min-width:1280px){
  .image-placeholder{
    grid-gap:4rem;
  }
}